* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(214deg, 47%, 23%);
}

main.root {
  position: relative;
  margin: auto;
  padding: 2rem 0;
  width: min(704px, 85%);
  height: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
}

header.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid white;
}
header.main-header .score-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
  background-color: white;
  border-radius: 5px;
}
header.main-header .score-board h3 {
  text-transform: uppercase;
}
header.main-header .score-board h1 {
  color: hsl(214deg, 47%, 23%);
  font-size: 4rem;
  line-height: 1;
}

.main-container {
  position: relative;
  margin: auto;
  width: 100%;
  aspect-ratio: 1/1;
}
.main-container .game-board {
  position: absolute;
  top: 40%;
  left: 50%;
  translate: -50% -50%;
  width: min(329px, 70%);
  aspect-ratio: 329/313;
  background: url(../images/bg-pentagon.svg) no-repeat;
  background-size: cover;
  transition: all 0.5s ease 2.5s;
  pointer-events: none;
}
.main-container .game-board.game-start {
  top: 50%;
  width: 0px;
  transition: width 0.5s ease, top 0.5s ease 0.75s;
}
.main-container .game-board button.chip {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50vh;
  pointer-events: auto;
  transition: translate 0.5s ease 0.5s, scale 0.5s ease 1.5s;
}
.main-container .game-board button.chip:not(.main-container .game-board button.chip:disabled) {
  cursor: pointer;
}
.main-container .game-board button.chip.picked {
  z-index: 10;
  scale: 2;
  transition: scale 0.5s ease 0.75s;
}
.main-container .game-board button.chip.picked::before {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease 0.75s;
}
.main-container .game-board button.chip.unpicked {
  opacity: 0;
  visibility: hidden;
  transition: all 0s ease 0.75s;
}
.main-container .game-board button.chip.result.picked {
  translate: -275% -50%;
  transition: translate 0.5s ease;
}
.main-container .game-board button.chip.result.chip-house {
  opacity: 1;
  visibility: visible;
  translate: 175% -50%;
  transition: translate 0.5s ease;
}
.main-container .game-board button.chip.result.chip-house::before {
  transition: opacity 0.5s ease;
}
.main-container .game-board button.chip.won {
  box-shadow: 0 0 0px 30px rgba(255, 255, 255, 0.03), 0 0 0px 60px rgba(255, 255, 255, 0.03), 0 0 0px 90px rgba(255, 255, 255, 0.03);
}
.main-container .game-board button.chip > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 75%;
  background-color: white;
  border-radius: 50vh;
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.3);
}
.main-container .game-board button.chip::before {
  content: "YOU PICKED";
  position: absolute;
  top: -20%;
  color: white;
  opacity: 0;
  visibility: hidden;
}
.main-container .game-board button.chip.chip-house {
  opacity: 0;
  visibility: hidden;
  scale: 2;
  transition: all 0.5s ease 0.5s;
}
.main-container .game-board button.chip.chip-house::before {
  content: "THE HOUSE PICK";
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease 0.75s;
}
.main-container .game-board button.chip.chip-rock {
  top: 100%;
  left: 80%;
  background: linear-gradient(to top, hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  border: none;
  border-bottom: 6px solid hsl(349deg, 70%, 39%);
}
.main-container .game-board button.chip.chip-paper {
  top: 40%;
  left: 100%;
  background: linear-gradient(to top, hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  border-bottom: 6px solid hsl(230deg, 54%, 46%);
}
.main-container .game-board button.chip.chip-scissors {
  top: 0%;
  left: 50%;
  background: linear-gradient(to top, hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  border-bottom: 6px solid hsl(39deg, 89%, 36%);
}
.main-container .game-board button.chip.chip-spock {
  top: 40%;
  left: 0;
  background: linear-gradient(to top, hsl(189deg, 59%, 53%), hsl(189deg, 58%, 57%));
  border-bottom: 6px solid hsl(189deg, 52%, 36%);
}
.main-container .game-board button.chip.chip-lizard {
  top: 100%;
  left: 20%;
  background: linear-gradient(to top, hsl(261deg, 73%, 60%), hsl(261deg, 72%, 63%));
  border-bottom: 6px solid hsl(261deg, 48%, 45%);
}
.main-container .game-result {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.main-container .game-result h2 {
  color: white;
  font-size: 3rem;
}
.main-container .game-result button {
  display: block;
  padding: 1rem 0;
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.main-container .game-result.show-result {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=main.css.map */
