@use './utils/reset.scss';
@use './components';
@use './utils/mixins.scss' as *;

body {
    width: 100%;
    height: 100vh;
}

main.root {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    // padding-top: 3rem;
    height: 100%;
    background-color: hsl(214, 47%, 23%);
    font-family: 'Barlow Semi Condensed', sans-serif; // temp

    button.show-rules {
        position: absolute;
        bottom: 3rem;
        right: 3rem;
        padding: 0.5rem 2rem;
        background-color: transparent;
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: 10px;

        color: hsl(220, 2%, 63%);
        font-size: clamp(0.785rem, 3vw, 1rem);
        letter-spacing: 2px;

        transition: all 0.5s ease;
        cursor: pointer;

        @include hover {
            border-color: hsl(0, 0%, 100%);
            color: hsl(0, 0%, 100%);
        }

        @include breakpoint(mobile, sm) {
            right: 50%;
            translate: 50%;
        }
    }

    .rules {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease 0.5s;
        z-index: -1;
        &.show {
            opacity: 1;
            visibility: visible;
            z-index: 99;
            transition: all 0.5s ease;
            .container {
                opacity: 1;
                visibility: visible;
                transition: all 0.5s ease 0.5s;
            }
        }

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: min(400px, 85%);
            padding: 1rem 2rem 2rem;
            background-color: hsl(0, 0%, 100%);
            border-radius: 10px;

            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease;

            > div {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
            h2 {
                color: hsl(229, 25%, 31%);
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
    }
    p.attribution {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		width: max-content;
		color: hsl(220, 2%, 63%);
        font-size: clamp(0.5rem, 3vw, 0.825rem);

		a {
			color: hsl(0, 0%, 100%);
		}
        
        @include breakpoint(mobile, sm) {
            left: 50%;
            translate: -50%;
        } 
	}
}
